.welcome {
  margin-top: 80px; /* aumenta se serve */
  text-align: center;
}

.dashboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 2rem;
  flex-wrap: nowrap; 
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  
  /* Sfondo a tutta pagina */
  background-image: url('../img/sfondo_dash.jpg');
  background-size: cover;       /* copre tutta la finestra */
  background-position: center;  /* centra l’immagine */
  background-repeat: no-repeat; /* non ripete */
  background-attachment: fixed; /* lo sfondo resta fisso anche se scrolli */

  color: #333; /* colore testo base, adattalo se serve */
}

    

